<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysnn.api.mapper.MemorandumEntityMapper">
    <resultMap id="BaseResultMapper" type="com.ysnn.api.entity.MemorandumEntity">
        <result property="uid" column="uid"/>
        <result property="date" column="date"/>
        <result property="text" column="text"/>
    </resultMap>
</mapper>