<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysnn.api.mapper.PomodoroEntityMapper">
    <resultMap id="BaseResultMapper" type="com.ysnn.api.entity.PomodoroEntity">
        <result property="uid" column="uid"/>
        <result property="today" column="today"/>
        <result property="littletomato" column="littletomat"/>
        <result property="todayDate" column="todaydate"/>
        <result property="total" column="total"/>
    </resultMap>
</mapper>