<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysnn.api.mapper.ReadingNotesEntityMapper">
    <resultMap id="BaseResultMapper" type="com.ysnn.api.entity.ReadingNotesEntity">
        <result property="uid" column="uid"/>
        <result property="date" column="date"/>
        <result property="readnotes" column="readnotes"/>
        <result property="bookname" column="bookname"/>
    </resultMap>
</mapper>