<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysnn.api.mapper.UserEntityMapper">
    <resultMap id="BaseResultMapper" type="com.ysnn.api.entity.UserInfo">
        <result property="uid" column="uid"/>
        <result property="useraccount" column="useraccount"/>
        <result property="nameid" column="nameid"/>
        <result property="usercode" column="usercode"/>
        <result property="email" column="email"/>
        <result property="avatarurl" column="avatarurl"/>
    </resultMap>
</mapper>